body {
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;
}

h1 {
	margin-top: 0;
	font-family: 'Sacramento', cursive;
	font-size: 5.625rem;
	position: absolute;
	left: 400px;

}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem
}

#programmer {
	position: absolute;
	top: 200px;
	right: 450px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
}


.top-container {
	background-color: #e3f6f5;
	background-image: url("../images/landscape.png");
	position: relative;
  	padding-top: 100px;
  	height: 800px;
  	max-width: auto;
	
}

.middle-container {

}
	

.bottom-container {

}

.top-cloud {
	position: absolute;
  right: 300px;
  top: 40px;
  max-width: 100px;
  height: auto;
}

.bottom-cloud {
	position: absolute;
  	left: 250px;
  	bottom: 300px;
  	max-width: 100px;
  	height: auto;
}

.landscape {
	max-width: 100%;
  	height: auto;
}

.me {
	height: 500px;
	width: 500px;
}