body {
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;
}

h1 {
	margin-top: 0;
	font-family: 'Sacramento', cursive;
}

h2 {
	font-family: 'Montserrat', sans-serif;
}

h3 {
	font-family: 'Montserrat', sans-serif;
}


.top-container {
	background-color: #e3f6f5;
	
}

.middle-container {

}
	

.bottom-container {

}

.top-cloud {
	position: absolute;
	right: 300px;
	top: 50px;
}

.bottom-cloud {
	position: absolute;
	left: 500px;
	bottom: 700px;
}

.me {
	height: 500px;
	width: 500px;
}